@{ ViewData["Title"] = "Author Details Page"; }
@model Author
<div class="text-center">
    <form method="post" asp-controller="Author" asp-action="Update">
        <input type="hidden" name="id" value="@Model.Id" />
        <div class="row align-items-center justify-content-center">
            <div class="col-auto">
                <label>Name:</label>
            </div>
            <div class="col-auto">
                <input class="form-control" type="text" value="@Model.Name" name="name" required />
            </div>
            <div class="col-auto">
                <label>Surname:</label>
            </div>
            <div  class="col-auto">
                <input class="form-control" type="text" value="@Model.Surname" name="surname" />
            </div>
            <div class="col-auto">
                <input class="btn btn-primary" type="submit" value="Update Author" name="submit" />
            </div>
        </div>
    </form>
</div>
