@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome to Rita's page!</h1>
    <p class="text-danger">Please read Privacy page!</p>
</div>
